__pycache__/
*.pyc
*.pyo
*.pyd
*.log

.venv/
venv/
env/

.ipynb_checkpoints/

data/1_raw/
data/2_full_dataset/

!data/3_clean_dataset/**
!data/4_transformed_dataset/**

**/sumo_output/
**/sim_output/
**/reports/
**/logs/

.vscode/
.idea/
.DS_Store
.AppleDouble
.LSOverride
._*
*.bak
*.tmp
*.old
*~
