__pycache__/
*.pyc
*.pyo
*.pyd
*.log

.venv/
venv/
env/

.ipynb_checkpoints/

data/1_raw/
data/2_full_dataset/

!data/3_clean_dataset/**
!data/4_transformed_dataset/**

**/sumo_output/
**/sim_output/
**/reports/
**/logs/

.vscode/
.idea/
.DS_Store
.AppleDouble
.LSOverride
._*
*.bak
*.tmp
*.old
*~
code/network.net.xml
code/sumo_simulation/SanFrancisco.osm
data/1_raw_data/Fire_Department_and_Emergency_Medical_Services_Dispatched_Calls_for_Service.csv
code/sumo_simulation/network.net.xml
src/Fire_Department_and_Emergency_Medical_Services_Dispatched_Calls_for_Service.csv
